@import 'nib'

#container
  position relative
  width 1000px
  height 600px
  float left

#messages
  width 200px
  top 35px

#chat
  position relative
  border 1px solid #ccc
  float left
  width 200px
  display none
#nickname, connecting
  position absolute
  height 100%
  z-index 100
  left 0
  top 0
  background #fff
  text-align center
  width 100%
  font 15px Georgia
  color #666
  display block
  .wrap
    padding-top 150px

#nickname
  input
    border 1px solid #ccc
    padding 10px
    &:focus
      border-color #999
      outline 0
  #nickname-err
    color darkred
    font-size 12px
    visibility hidden

.connected
  #connecting
    display none

.nickname-set
  #nickname
    display none

#nicknames
    width 1000px
    background #ccc
    font 11px Helvetica
    span
      color black
    b
      display inline-block
      color #fff
      background #999
      padding 3px 6px
      margin-right 5px
      border-radius 10px
      text-shadow 0 1px 0 #666
      overflow hidden

#messages
  float left
  height 100%
  background #eee
  em
    text-shadow 0 1px 0 #fff
    color #999
  p
    padding 0
    margin 0
    font 12px Helvetica, Arial
    padding 5px 10px
    b
      display inline-block
      padding-right 10px
  p:nth-child(even)
    background #fafafa

  #lines
    height 100%
    overflow auto
    overflow-x hidden
    overflow-y auto
    &::-webkit-scrollbar
      width 6px
      height 6px
    &::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
      display block
      height 10px
    &::-webkit-scrollbar-button:vertical:increment
      background-color #fff
    &::-webkit-scrollbar-track-piece
      background-color #fff
      -webkit-border-radius 3px
    &::-webkit-scrollbar-thumb:vertical
      height 50px
      background-color #ccc
      -webkit-border-radius 3px
    &::-webkit-scrollbar-thumb:horizontal
      width 50px
      background-color #fff
      -webkit-border-radius 3px

#send-message
  background #fff
  position relative
  input
    border none
    height 30px
    padding 0 10px
    line-height 30px
    vertical-align middle
    width 960px
    &:focus
      outline 0
  button
    position relative
    top 5px
    right 5px

button
  download-button()
